/* styles/ProjectsList.module.css */
.container {
    padding: 1rem;
    background-color: #005a38;
    color: #f9e700;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
  }
  
  .searchInput {
    padding: 0.4rem;
    font-size: 1rem;
    margin-left: 0.5rem;
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
    background-color: #005a38;
    color: #f9e700;
  }
  
  .table th {
    background-color: #005a38;
    text-align: left;
    padding: 0.75rem;
    border-bottom: 1px solid #ddd;
  }
  
  .table td {
    padding: 0.75rem;
    border-bottom: 1px solid #ddd;
  }
  
  .noData {
    font-style: italic;
    margin-top: 2rem;
  }

  .editButton {
    background-color: #f9e700;
    color: #161616;
    border: 1px solid #161616;
    padding: 0.5rem;
    margin-right: 0.5rem;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .deleteButton {
    background-color: #f90000;
    color: #ffffff;
    border: 1px solid #161616;
    padding: 0.5rem;
    border-radius: 5px;
    cursor: pointer;
  }

  .completed {
    background-color: #4caf50;
    color: #fff;
    padding: 0.5rem;
    border-radius: 5px;
  }

  .inProgress {
    background-color: #ffb006   ;
    color: #161616;
    padding: 0.5rem;
    border-radius: 5px;
  }

  .notStarted {
    background-color: #005a38;
    color: #f9e700;
    padding: 0.5rem;
    border-radius: 5px;
  }

  .link1 {
    margin-right: 1rem;
    font-size: 1.2rem;
    text-decoration: none;
    color: #161616;
    background-color: #f9e700;
    border-radius: 5px;
    padding: 0.5rem 1rem; 
    border: 1px solid rgb(1, 1, 39);
  }

  .link1:hover {
    text-decoration: none;
    background-color: #ffee02;
  }

  .link2 {
    margin-right: 1rem;
    font-size: 1.2rem;
    text-decoration: none;
    color: #161616;
    background-color: #f9e700;
    border-radius: 5px;
    padding: 0.5rem 1rem; 
    border: 1px solid rgb(1, 1, 39);
  }

  .link2:hover {
    text-decoration: none;
    background-color: #ffee02;
  }